{% extends 'base.html' %}
{% block contents %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet" href="{% static 'docxmerge/css/resume_make.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        var frm = $('#submit-form');
        $(document).on('click', '#submit-btn', function() {
            $('.resumeDiv').hide();
            $('.loading').show();
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function(response){
                    // alert(response.message);
                },
                error: function(request, status, error){
                    alert("알 수 없는 에러");
                    window.location.replace("/users/login/");
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                },
            });
        });
    </script>
        
    <script>
        $(document).ready(function(){
            $('#resumeTitle').addClass('resumeTitleClass');
        })
    </script>
</head>
<body>
<div class="resumeDiv">
    <h2 id="resumeTitle">정보입력</h2>
    <!-- <form method="POST" action="{% url 'docxmerge:make' %}">
        {% csrf_token %}
        이름:
        <input name="writer_name" type="text">
        <br>
        주소:
        <input name="writer_address" type="text">
        <br>
        전화번호:
        <input name="writer_phone" type="tel">
        <br>
        이메일:
        <input name="writer_email" type="email">
        <br><br>
        <input type="submit" class="btn btn-light" value="make resume">
    </form> -->
    <!-- form안에 있는 class 이름들은 forms.py에 코드로 들어가 있습니다!! -->
    <form id="submit-form" method="POST" action="{% url 'docxmerge:make' %}">
        {% csrf_token %}
        <table id="form-table">
                {{ form.as_table }}
        </table>
        <input id="submit-btn" type="submit" class="btn btn-light">
    </form>
</div>
<div class="container loading"></div>
</body>
</html>
{% endblock %}