{% extends 'base.html' %}
{% block contents %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<div class="container">
    <h2>정보 입력</h2>
    <form method="POST" action="{% url 'docxmerge:form' %}">
        {% csrf_token %}
        이름:
        <input name="writer_name" type="text">
        <br>
        주소:
        <input name="writer_address" type="text">
        <br>
        전화번호:
        <input name="writer_phone" type="tel">
        <br>
        이메일:
        <input name="writer_email" type="email">
        <br><br>
        <input type="submit" class="btn btn-light" value="make resume">
    </form>
</div>
</body>
</html>
{% endblock %}