@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); .notosanskr * { font-family: 'Noto Sans KR', sans-serif; }


html{
    height: 100%;
    margin: 0;
    /* background-image: url('../images/signup-background.png'); */
    /* background: linear-gradient(90deg, #53BFAC 50%, white 50%); */
}

body{
    margin-top: 80px;
}

.signup-box{
    /* background-color:  #53BFAC; */
    height: 600px;
    width: 500px;
    border: none;
    border-radius: 10px;
    padding: 20px; 
    font-family: 'Noto Sans KR';
    position: relative;
    /* left: 30%; */
}

.input-signup{
    height: 50px;
    width: 440px;  
    font-family: 'Noto Sans KR';

    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid black;
    border-radius: 5px;
    margin-bottom: 13px;
    padding-left: 15px;
}


.btn-light{
    /* background-color: #FBF9F4; */
    background-color:#53BFAC;
    color: white;
    height: 62px;
    width: 100%;
    font-family: 'Noto Sans KR';    
    border:none;    
    /* margin-left: 70%; */
}

.btn-light:hover{
    /* background-color:#53BFAC;
    color: white; */
    background-color: #53BFAC;
    color: black;

}

#signup-page{
    margin-bottom: 100px;
    text-align: center;
    display: block;
    padding-bottom: 20px;
    width: 0px;
    border-bottom: 2px solid #53BFAC;
    font-family: 'Noto Sans KR';
    font-size: 40px;
    color: black;
    text-decoration: none;
    /* margin-left: 15%; */
}

.signupTitleClass {
    /* margin-bottom: 80px !important; */
    /* padding-bottom: 15px !important; */
    /* padding-left: 100px !important; */
    width: 100% !important;
    border-bottom: 2px solid #53BFAC;   
    transition: all 1s;
    font-size: 40px !important;
}

.line{
    border:thin solid;
    color:#53BFAC;
}

.feature-signup{
    padding-right: 50px;
    
}

h1{
    margin-left: 15%;
}

th,td{
    padding: 10px;
}

#login-go{
    color:#53BFAC;
}

#login-go:hover{
    color:#058452;
}