{% load i18n %}
{% load account socialaccount %}
{% providers_media_js %}

<h1>로그인</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}

<p>{% blocktrans with site.name as site_name %}다음을 활용해 로그인하세요. 계정이 없으신가요? <a href="{{ signup_url }}">회원가입</a>
for a {{ site_name }}{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
  <ul class="socialaccount_providers">
     <h2><a href="{% provider_login_url 'google' %}">구글 로그인</a></h2>
  </ul>

</div>

{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_table }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction" type="submit">로그인</button>
</form>
