{% extends 'base.html' %}
{% block contents %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h2>Log in</h2>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        Username:
        <br>
        <input name="username" type="text">
        <br>
        Password:
        <br>
        <input name="password" type="password">
        <br><br>
        <input type="submit" class="btn btn-light" value="sign up">
    </form>
</div>
</body>
</html>
{% endblock %}