{% extends 'base.html' %}
{% block contents %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>이옷 | Sign up</title>
</head>
<body>
<link rel='stylesheet' type='text/css' href="{% static 'users/css/signup.css' %}?ver=1">

<div class="container">
    <h2>Sign up</h2>
    <form method="POST" action="{% url 'users:signup' %}">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" class="btn btn-light" value="sign up">
    </form>
</div>
</body>
</html>
{% endblock %}