@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); .notosanskr * { font-family: 'Noto Sans KR', sans-serif; }

.resumeDiv {
    /* text-align: center; */
    margin-top: 80px;
}

#resumeTitle {
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 2px solid #53BFAC;
    width: 0px;
    font-size: 40px;
}

#form-table {
    margin-left: auto;
    margin-right: auto;
}

.resumeTitleClass {
    font-family: 'Noto Sans KR';
    margin-bottom: 80px !important;
    padding-bottom: 15px !important;
    /* padding-left: 100px !important; */
    width: 100% !important;
    border-bottom: 2px solid #53BFAC;
    transition: all 1s;
    font-size: 40px !important;
    

}

#submit-form {
    text-align: center;
}

.btn-light {
    background-color:  #53BFAC !important;
    margin-top: 30px !important;
    width: 460px !important;
    height: 62px !important;
    color: white;
}
.infoSection, .writerNameSection, .writerPhoneNumSection, .writerEmailSection {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 15px;
    width: 250px !important;
}
.writerAddressSection {
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 5px;
}

th {
    text-align: left;       
}

.loading {
    display: none;
    background-image: url("../images/resume_loading.gif");
	width: 500px;
    height: 500px;
    margin-top: 125px;
}