@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); .notosanskr * { font-family: 'Noto Sans KR', sans-serif; }
@font-face { font-family: 'S-CoreDream-4Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-5Medium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff'); font-weight: normal; font-style: normal; }


#sort-select {
    margin-left: auto;
    margin-right: auto;
    width: 230px;
}

.badge-secondary{
    /* color: black !important; */
    color: white !important;
    background-color: #2c3e50 !important;
    border: 1px solid #2c3e50 !important;
    border-radius: 2px !important;
    padding: 20px !important;
}

.mb-5{
    margin-top: 20px;
    border: 2px solid #2c3e50 !important;
    font-family: 'Noto Sans KR';
    /* font-size: 75% !important; */
} 

.likecount{
    margin-left: 5px;
    margin-right: 58px;
    font-family: 'Noto Sans KR';
    font-size: 75% !important;
    font-family:'S-CoreDream-4Regular' !important;

}

.downloadcount{
    /* font-family: 'Noto Sans KR'; */
    font-size: 75% !important;
    font-family:'S-CoreDream-4Regular' !important;

}

/* header{
    padding-top: none !important;
    margin-top: none !important;
}

.page-section{
    padding-top: none !important;
    margin-top: none !important;
} */

body{
    background-color: #53BFAC !important;
}

.line{
    border:thin solid;
    color:#2c3e50;
}

.btn-primary{
    font-family:'S-CoreDream-4Regular' !important;

}

.likebutton{
    margin-right: 20px;
}

.resultTitle{
    font-family:'S-CoreDream-4Regular' !important;
    font-size: 40px;
}

.page-section{
    padding: 0px !important;
}

.resultNotice{
    font-family:'S-CoreDream-4Regular' !important;
    font-size: 15px;
}

.content-container{
    padding-bottom: 5%;
}