.loading {
    display: none;
    background-image: url("../images/resume_loading.gif");
	width: 500px;
    height: 500px;
    margin-top: 125px;
}

#sort-select {
    margin-left: auto;
    margin-right: auto;
    width: 230px;
}
